doctype html
html
  include ../head.pug
  body
    - var is_statics = 'active';
    include ../nav.pug
    include ./list_tab.pug
    
    div(class='container')
      table(class='table table-responsive table-hover')
        tr
          th #
          th Date
          th Count
          th Acc
        - var num = 1;
        - var total_count = total;
        each val in results
          tr
            td=num++
            td=val.date
            td=val.count
            td=total_count
            - total_count = total_count - val.count;
