ul(class='nav nav-tabs')
  li(role='login_status' class=is_home)
    a(href='../') Home
  li(role='articles' class=is_articles) 
    a(href='../articles/') Articles
  li(role='deliveries' class=is_deliveries) 
    a(href='../deliveries/') Deliveries
